@font-face {
    font-family: 'bakeryapp';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/opensans.eot');
    src: url('../../fonts/opensans.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/opensans.woff') format('woff'),
         url('../../fonts/opensans.ttf') format('truetype');
}

@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/icomoon.eot');
    src: url('../../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/icomoon.woff') format('woff'),
         url('../../fonts/icomoon.ttf') format('truetype');
}
