.icon-sort-asc:before {
    content: "\e901";
    font-family: 'icomoon';
}

.icon-sort-desc:before {
    content: "\e902";
    font-family: 'icomoon';
}

.icon-sort:before {
    content: "\e903";
    font-family: 'icomoon';
}

.icon-arrow-down-alt1:after {
    content: "\e900";
    font-family: 'icomoon';
}

.icon-calendar:before {
    content: "\e904";
    font-family: 'icomoon';
}
