#main-region {
    display: flex;
    flex: 1;
    margin: 0 auto;
    max-width: 700px;
    padding-bottom: 15px;
    position: relative;
    width: 100%;
}

#orders-header {
    z-index: 6;
}

#orders-body {
    border: 1px solid #CCCCCC;
    border-radius: 0 0 5px 5px;
    border-top: none;
    box-shadow: 0 0 5px #CCCCCC;
    flex: 1;
    overflow-y: auto;
    z-index: 5;
}

#orders-create {
    position: absolute;
    top: -20px;
    right: 10px;
}

#button-region {
    margin-bottom: 15px;
}

#loader-region {
    height: 80px;
    margin-top: -35px;

    img {
        height: 80px !important;
        width: 100px !important;
    }

    .check {
        height: 120px !important;
        position: absolute;
        top: -15px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 140px !important;
    }
}
