<ul class="orders--wrap orders--header w-100">
    <li class="order--header_item w-100">
        <span class="order--span w-25 b-14 s-bold">Customer Name <span class="icon-sort pad-l-sm"></span></span>
        <span class="order--span w-20 b-14 s-bold">Order Type <span class="icon-sort pad-l-sm"></span></span>
        <span class="order--span w-20 b-14 s-bold">Due Date <span class="icon-sort pad-l-sm"></span></span>
        <span class="order--span w-35 b-14 s-bold">Contact Email <span class="icon-sort pad-l-sm"></span></span>
    </li>
</ul>