<span class="order-details--label hd-18 s-bold">Customer First Name</span>
<input class="order-details--text-input w-60 b-16" type="text" value="{{orderFName}}">
<span class="order-details--label hd-18 s-bold">Customer Last Name</span>
<input class="order-details--text-input w-60 b-16" type="text" value="{{orderLName}}">
<span class="order-details--label hd-18 s-bold">Customer Contact</span>
<input class="order-details--text-input w-60 b-16" type="text" value="{{orderEmail}}">
<span class="order-details--label hd-18 s-bold">Order Type</span>
<input class="order-details--text-input w-60 b-16" type="text" value="{{orderType}}">