<div class="f-1 pad-sm order-details--wrap">
    <span class="order-details--label hd-18 s-bold">Customer First Name</span>
    <input class="order-details--input w-100 b-16 js-fname" type="text" value="{{orderFName}}">
    <span class="order-details--label hd-18 s-bold">Customer Last Name</span>
    <input class="order-details--input w-100 b-16 js-lname" type="text" value="{{orderLName}}">
    <span class="order-details--label hd-18 s-bold">Customer Contact</span>
    <input class="order-details--input w-100 b-16 js-email" type="text" value="{{orderEmail}}">
    <span class="order-details--label hd-18 s-bold">Order Type</span>
    <div class="w-100 m-center pos-r order-details--select-box">
        <span class="icon-arrow-down-alt1 order--select-icon"><span class="order-details--select-line">| </span></span>
        <select class="order-details--input order-details--select-list w-100 b-16">
            <option value="null">Select an order type:</option>
            <option value="wedding">Wedding Cake</option>
            <option value="cupcakes">Cupcakes</option>
            <option value="birthday">Birthday Cake</option>
            <option value="misc">Misc.</option>
        </select>
    </div>
</div>
<div class="f-1 pad-sm order-details--wrap">
    <span class="order-details--label hd-18 s-bold">Paid</span>
    <div class="w-100 m-center pos-r order-details--select-box">
        <span class="icon-arrow-down-alt1 order--select-icon"><span class="order-details--select-line">| </span></span>
        <select class="order-details--input order-details--select-list w-100 b-16">
            <option value="yes">Yes</option>
            <option value="no" {{#if not_paid}}selected{{/if}}>No</option>
        </select>
    </div>
    <span class="order-details--label hd-18 s-bold">Baked</span>
    <div class="w-100 m-center pos-r order-details--select-box">
        <span class="icon-arrow-down-alt1 order--select-icon"><span class="order-details--select-line">| </span></span>
        <select class="order-details--input order-details--select-list w-100 b-16">
            <option value="yes">Yes</option>
            <option value="no" {{#if not_baked}}selected{{/if}}>No</option>
        </select>
    </div>
    <span class="order-details--label hd-18 s-bold">Ready for Pickup</span>
    <div class="w-100 m-center pos-r order-details--select-box">
        <span class="icon-arrow-down-alt1 order--select-icon"><span class="order-details--select-line">| </span></span>
        <select class="order-details--input order-details--select-list w-100 b-16">
            <option value="yes">Yes</option>
            <option value="no" {{#if not_ready}}selected{{/if}}>No</option>
        </select>
    </div>
    <span class="order-details--label hd-18 s-bold">Picked Up</span>
    <div class="w-100 m-center pos-r order-details--select-box">
        <span class="icon-arrow-down-alt1 order--select-icon"><span class="order-details--select-line">| </span></span>
        <select class="order-details--input order-details--select-list w-100 b-16">
            <option value="yes">Yes</option>
            <option value="no" {{#if not_pickedup}}selected{{/if}}>No</option>
        </select>
    </div>
</div>
<div class="w-100">
    <div class="order--btn pos-r"><div class="order-btn--bg"></div><a class="order--link b-16 s-bold js-cancel" href="#">Cancel</a></div>
    <div class="order--btn pos-r"><div class="order-btn--bg"></div><a class="order--link b-16 s-bold js-update" href="#">Update</a></div>
</div>