<div class="w-100">
    <div class="order--btn pos-r"><div class="order-btn--bg"></div><a class="order--link b-16 s-bold js-cancel" href="#">Cancel</a></div>
    <div class="order--btn pos-r"><div class="order-btn--bg"></div><a class="order--link b-16 s-bold js-update" href="#">Update</a></div>
</div>